*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #587B7A;
    color: white;
}
.details{
    display: flex;
    gap: 2rem;
    font-size: 24px;
    padding-top: 22px;
    padding-right: 50px;
}
.details p{
    padding: 10px;
    border:1px solid #587B7A;
    border-radius: 50%;
}
.head{
    display: flex;
    font-size:25px ;
    padding-left: 50px;
}
#anchor{
    text-decoration: none;
}
.image img{
    height: 300px;
    width: 400px;
    padding-left: 50px;
}
.image{
    display: flex;
    flex-direction: column;
}
.image1{
    display: flex;
}
.main{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.image1 img{
    height:300px;
    width: 600px;
    padding-top: 20px;
    padding-right: 60px;
}
.image p{
    padding-left: 150px;
    font-size: 25px;
}
.had h2{
    font-size: 40px;
}
.cont{
    display: flex;
    flex-direction: column;
}
.next{
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 250px;
    gap: 5rem;
}
.had{
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#one{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.dsa{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}
.html{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.javascript{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#two{
    font-size: 20px;
}
.lastpart{
    display: flex;
    flex-direction: column;
}
.part1{
    align-self:flex-start;
    padding-top: 20px;
    padding-left: 60px;
}
.part1 h2{
    font-size: 35px;
}
.part2{
    display: flex;
}
.ten{
    padding-left: 60px;
    padding-top: 30px;
}
.six{
    padding-left: 200px;
    padding-top: 30px;
}
#ooo{
    font-size: 20px;
}
#but{
    padding-top: 20px;
    padding-left: 120px;
    padding-bottom: 20px;
}
button{
    border-radius: 10px;
    padding: 10px;
}
#soo{
    border-radius: 15px;
    padding: 10px;
}
#looo{
    font-weight: bold;
    font-size: 25px;
}
#great{
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #587B7A;
    padding-bottom: 20px;
}
#but button:hover{
    background-color: #587B7A;
    transform: scale(1.1);
    cursor: pointer;
}
a{
    color: antiquewhite;
}
.details a:hover{
    color: black;
    cursor: pointer;
}
#top {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}
.top{
    padding-top: 20px;
}
.six{
    padding-left:600px ;
}
@media(max-width:1000px)
{
    body{
        width: 130vw; 
    }
    .container,.header,.main,.next,.lastpart{
        flex-direction: column;
    }
    .part2{
        flex-direction: column;
    }
    .six{
        padding: 0;
        padding-left: 150px;
        padding-top: 20px;
    }
    .next{
        padding-left:20px;
        padding-right:20px;
    }
    .part1{
        align-self: center;
        padding-right:180px;
    }
    .part2{
        align-items: center;
        padding-right:180px;
    }
    .head{
        justify-content:center;
        padding-right: 60px;
    }
    .details{
        .head{
            justify-content:center;
            padding-left:30px;
        }
    }
    .image{
        align-self: center;
    }
    .image1{
        justify-content:center ;    
    }
    .lastpart{
        padding-top: 30px;
    }
}