*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #587B7A;
    color: white;
}
.details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    font-size: 24px;
    padding-top: 20px;
    padding-right: 30px;
}
.details p{
    padding: 10px;
    border:1px solid #587B7A;
    border-radius: 50%;
}
.head{
    font-size:25px ;
    padding-left: 50px;
}
.image img{
    height: 300px;
    width: 400px;
    padding-left: 50px;
}
.main{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.image1 img{
    height:300px;
    width: 600px;
    padding-top: 20px;
    padding-right: 60px;
}
.image p{
    padding-left: 150px;
    font-size: 25px;
}
.had h2{
    font-size: 40px;
}
.cont{
    display: flex;
    flex-direction: column;
}
.next{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 20px;
    gap: 1rem;
}
.had{
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#one{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.dsa{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
}
.html{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4 ;
}
.javascript{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
}
#two{
    font-size: 20px;
}
.lastpart{
    display: flex;
    flex-direction: column;
}
.part1{
    align-self:flex-start;
    padding-top: 20px;
    padding-left: 60px;
}
.part1 h2{
    font-size: 35px;
}
.part2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.ten{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 60px;
    padding-top: 30px;
}
.six{
    grid-column-start: 3;
    grid-column-end: 5;
    padding-left: 200px;
    padding-top: 30px;
}
#ooo{
    font-size: 20px;
}
#but{
    padding-top: 20px;
    padding-left: 120px;
    padding-bottom: 20px;
}
button{
    border-radius: 10px;
    padding: 10px;
}
#soo{
    border-radius: 15px;
    padding: 10px;
}
#looo{
    font-weight: bold;
    font-size: 25px;
}
#great{
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #587B7A;
    padding-bottom: 20px;
}
#but button:hover{
    background-color: #587B7A;
    transform: scale(1.1);
    cursor: pointer;
}
@media (max-width:768px)
{.header{
    flex-direction: column;
}
.main{
    flex-direction: column;
}
.next{
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows:repeat(3, 1fr);    
}
.dsa{
    grid-row-start: 0;
    grid-row-start: 1;
}
.html{
    grid-row-start: 1;
     grid-row-start: 2;
}
.javascript{
    grid-row-start: 2;
     grid-row-start: 3;
}   
body{
    width: 100vw;
}
}
a{
    color: antiquewhite;
}
a:hover{
    color: black;
    cursor: pointer;
}
#top {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}
.top{
    padding-top: 20px;
}